Source: cubanker
Section: devel
Priority: optional
Maintainer: Bank Builder <info@communitybanker.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: cubanker
Architecture: all
Depends: mysql-server mysql-client apache2 php5 libapache2-mod-php5 php5-mysql

Description: This is a NUL installer for Community Banker
 .
 This NUL installer for Community Banker installs a do-nothing app and the documentation URLs for the project.
 .
 Contact info@communitybanker.org to assist this project

