[Desktop Entry]
Version=0.0.1
Encoding=UTF-8
Name=Call Centre Login
Comment=Community Banker User Login
Exec='x-www-browser' http://localhost/call_centre
Icon=community-banker-call-centre
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;CuBanker;
GenericName[en_ZA]=
